@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 96%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 6%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 0% 35%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 0 0% 63%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 63%;
    --sidebar-primary: 0 0% 96%;
    --sidebar-primary-foreground: 0 0% 6%;
    --sidebar-accent: 0 0% 14%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 0 0% 63%;
  }
  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 96%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 6%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 0% 35%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 0 0% 63%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 70%;
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 63%;
    --sidebar-primary: 0 0% 96%;
    --sidebar-primary-foreground: 0 0% 6%;
    --sidebar-accent: 0 0% 14%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 0 0% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
